@import "tailwindcss";

@theme {
  --color-bloodred-500: oklch(0.5181 0.2112 29.45);
  --font-kode: "Kode Mono", monospace;
  --font-share: "Share Tech Mono", monospace;

}

.bg-grid {
  background-image: 
    linear-gradient(to right, rgba(255, 0, 0, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 40px 40px; /* size of grid squares */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


#logo_home{
  mix-blend-mode: difference;
}

::-webkit-scrollbar{
  width: 0px;
}